.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 20%;
    top: 5%;
    bottom: 0%;
    height: 60%;
    width: 60%;
    position: absolute;
    justify-content: center;
}